@font-face {
  font-family: 'Mangal Regular';
  src: url('../font/MANGAL.TTF');
  src: url('../font/MANGAL.TTF?#iefix') format('embedded-opentype'),
      url('../font/MANGAL.TTF') format('truetype');
}

body{
  font-family: 'Mangal Regular';
}

p{
  padding: 0;
  margin: 0;
}